body{
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu{
    background:#333;
    padding:10px;
}

.menu a{
    color:white;
    margin-right:15px;
    text-decoration:none;
}

form{
    display:flex;
    flex-direction:column;
    width:200px;
}

input{
    margin:5px 0;
    padding:5px;
}

button{
    padding:6px;
}

table{
    border-collapse:collapse;
    width:400px;
}

th,td{
    border:1px solid black;
    padding:8px;
}